body   {margin: 0;}
footer { clear: both;
		width: 100%;
		background-color:#000;
		opacity:0.4;
		position:fixed;
		color:#fff;
		height: 30px;
		line-height:30px;
		font-size: 120%;
		text-align:center; }	    	
footer a {color:#fff; }	 
a { color: #66c1ad; text-decoration: none; }
		
		#wrap{ width: 1000px; margin: 0 auto; overflow: hidden}
		.wrap{ width: 1000px; margin: 0 auto; overflow: hidden}
		.wrap .title{ width: 100%; text-align: center; color: #66c1ad; font-weight: bold;}
		.wrap .locationname {width: 100%; text-align: center;}
		.wrap .obj_top{ width: 100%; float: left;}
		.wrap .obj_left{ width: 50.2%; float: left;}
		.wrap .obj_right{ float: left; width: 49.8%;}

		.a{ width: 22.5%; margin: 1.25%; float: left;}
		.a img{ width: 100%; display: block;}
		.a img:hover{background-color:white; opacity:0.8; transform:scale(1.03,1.03); transition:all 0.3s ease;}
		.a img:active{background-color:white; opacity:0.8; transform:scale(1.03,1.03); transition:all 0.3s ease;}

		.b{ width: 31.333%;margin:1%; float: left;}
		.b img{ width: 100%; display: block;}
		.b img:hover{background-color:white; opacity:0.8; transform:scale(1.03,1.03); transition:all 0.3s ease;}
		.b img:active{background-color:white; opacity:0.8; transform:scale(1.03,1.03); transition:all 0.3s ease;}

		.c{ width: 48%; margin: 1%; float:left;}
		.c img{ width: 100%; display: block;}
		.c img:hover{background-color:white; opacity:0.8; transform:scale(1.03,1.03); transition:all 0.3s ease;}
		.c img:active{background-color:white; opacity:0.8; transform:scale(1.03,1.03); transition:all 0.3s ease;}
		
		 #map {text-align:center; width: 100%; height: 350px; border : 2px solid #66c1ad ; border-top:0px solid; }
	
		.header{ line-height: 84px;height:84px; }
		
		.logo_wrap{ float: left;}
		.menu_wrap{ float: right;}
		.menu_wrap .menu { float:left; margin:0 10px; font-weight: bold; }
		
		.mobile_menu_wrap{ display: none; padding:10px; background: #66c1ad; opacity:0.7; overflow: hidden}
		.mobile_menu_wrap a { color:white;  text-decoration: none;}
		.mobile_menu_wrap .menu{float:left;text-align: center; width: 25%; font-weight: bold;}

		.undermapbar { width:100%; }
		.undermapbar .menu { float: left; text-align: center; width: 25%; font-weight: bold; }
		.undermapbar .menu:hover {color: #985d6a; background-color: #efefef; font-weight: bold;}
		
		.importantbanner { width:100%; margin-bottom:3%; }
		.importantbanner img {width:99%; padding-top:3%; margin: 0 0.5% 5% 0.5%; display: block;}
		
		.qnasection { width: 100%; }
		.qnasection img {width: 98%; margin: 1% 1% 0 1%;}

	
		@media(max-width:1000px){
			#wrap{width: 100%;}
			.wrap{width: 100%;}
			.menu_wrap{display:none;}
			.mobile_menu_wrap{display:block;}
			.mobile_menu_wrap .menu {font-size: 12px;}
			.undermapbar .menu{font-size: 12px;}
			.menu {font-size: 12px;}
			.logo_wrap{float: none; text-align: center;}
			.card {height: 150px;}
			#map {width: 100%; height: 200px;}

		}

		
		/* Swiper */
		.swiper-container {
        width: 100%;
        height: 100%; }
    	.swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;  }
     	.swiper-slide img {width:100%;}  	
		